<!DOCTYPE html>
<html lang="en">

<!-- Jquery scripts -->
<script src="https://code.jquery.com/jquery-2.2.0.min.js"></script>

<head>
    <meta charset="ut 8">
    {% load static %}
    <link rel='stylesheet' type="text/css" href="{% static 'css/global.css' %}">
    <title>Partner Home</title>
</head>

<body>
    
    <div class = "wrapper">
        <div class = "nav-bar" id = "partner-nav-bar">
            <h1 class="header"> WeMinari </h1>
            <ul>
                <p></p>
                <li><a href="{% url 'scrapenews:demo_home' %}">Demo Page</a></li>
                <li><a href="{% url 'createproject:index' %}">Create New Project</a></li>
                <li><a href="{% url 'createproject:home' %}">Home</a></li>
            </ul>
        </div>
    </div>
    
    <!-- Header -->
    <div class ="title">
        <h1> Welcome, KevinCo. </h1>
    </div>
    
    <!-- Grid -->
    <h2 class="header"> Matched Projects </h2>
    <p class="description"> These projects have been matched with a class.</p>
    <div class="ongoing-projects">
        {% if project_list %}
        <ul>
            {% for proj in project_list %}
                {% if proj.ClassNum == 1 %}
                <h3>{{ proj.Partner}}: {{ proj.Title }}</h3>
                <p><strong>{{proj.Start_date}} to {{proj.End_date}}</strong></p>
                <p style="font-style:italic"><strong>Locations:</strong> {{ proj.Locations}}</p>
                {% if proj.Virtual == "Virtual" %}
                <p> Virtual is supported. </p>
                {% endif %}
                <p>{{ proj.Long }}</p>
                <li>Subject(s): {{proj.Subjects}}</li>
                <li>Desired Level: {{ proj.Level }}</li>
                <li>Desired Class Size: {{ proj.Class_size }}</li>
                <li>Desired Group Size: {{ proj.Group_size }}</li>
                <form action="{% url 'createproject:proj_detail' proj.id %}" method="GET">
                    <button type="submit" class="selector">Go to Page</button>
                </form>
                <div class="spacer"><hr></div>
                {% endif %}
            {% endfor %}
        </ul>
        {% else %}
            <p>No matches yet!</p>
        {% endif %}  
    </div>
    
    <div class="spacer"></div>
    
    <h2 class="header"> Unmatched Projects </h2>
    
    <div class="ongoing-projects">
        {% if project_list %}
        <ul>
            {% for proj in project_list %}
                {% if proj.ClassNum == 0 %}
                <h3>{{ proj.Partner}}: {{ proj.Title }}</h3>
                <p><strong>{{proj.Start_date}} to {{proj.End_date}}</strong></p>
                <p style="font-style:italic"><strong>Locations:</strong> {{ proj.Locations}}</p>
                {% if proj.Virtual == "Virtual" %}
                <p> Virtual is supported. </p>
                {% endif %}
                <p>{{ proj.Long }}</p>
                <li>Subject(s): {{proj.Subjects}}</li>
                <li>Desired Level: {{ proj.Level }}</li>
                <li>Desired Class Size: {{ proj.Class_size }}</li>
                <li>Desired Group Size: {{ proj.Group_size }}</li>
                <div class="spacer"><hr></div>
                {% endif %}
            {% endfor %}
        </ul>
        {% else %}
            <p>No unmatched projects.</p>
        {% endif %} 
    </div>
    
    <div class="spacer"></div>
    
    
</body>



</html>