html {
	font-family: "Roboto", sans-serif;
	scroll-behavior: smooth;
	height: 100%;
	width: 100%;
	/* overflow: auto; */
}

body {
	left: 0;
	margin: 0;
	overflow: auto;
	height: 100%;
	width: 100%;
	position: relative;
}

/* Navigation Bar */
.nav-bar {
	height: 55px;
	background-color: rgba(0, 156, 158, 1);
	position: fixed;
	width: 100%;
	top: 0;
	opacity: .95;
}
#teach-nav-bar {
	background-color: blue;
}
#partner-nav-bar {
	background-color: seagreen;
}

.wrapper {
	height: 55px;
}
.nav-bar h1 {
	float: left;
	margin-left: 2%;
	color: white;
}
.nav-bar ul {
  list-style:none;
}
.nav-bar ul li {
  float: right; margin-top: 0px;
  padding: 12px;
  border-right: 1px solid white;
}
.nav-bar ul li:first-child{
  padding-left: 0;
}
.nav-bar ul li a {
  text-decoration: none;
  color: white;
}
.nav-bar ul li a:hover {
  text-decoration: underline;
}

.title {
	margin-left: 5%;
	color: black;
}

.header {
	margin-left: 5%;
	color: rgba(0, 156, 158, 1);
}

.description {
	margin-left: 5%;
}

.grid-container {
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-gap: 20px;
}

.grid-child p {
	margin-left: 10px;
}
.grid-child div {
	overflow: hidden;
}
.grid-child div:hover {
	overflow: auto;
}
.grid-child img, input[type=submit] {
	margin-left: auto;
	margin-right: auto;
	margin-top: 30px;
	margin-bottom: 10px;
	display: block;
}

hr{
    border:0;
    margin:0;
    width:90%;
    height:2px;
    background:black;
}

.news-article {
	overflow: auto;
	height: 200px;
	padding-bottom: 30px;
	padding-top: 30px;
}

.priority {
	border: solid lightslategray;
	background-color: whitesmoke;
	height: 250px;
	width: 85%;
	margin-left: 5%;
}

.main-feed {
	border: solid lightslategray;
	background-color: whitesmoke;
	height: 475px;
	width: 85%;
	margin-left: 5%;
}

.forum {
	border: solid lightslategray;
	background-color: whitesmoke;
	height: 800px;
	width: 95%;
	margin-left: 5%;
}

.filters {
	height: 800px;
	margin-right: 5%;
}

.partner-list {
	border: solid lightslategray;
	background-color: whitesmoke;
	height: 250px;
	/*width: 30%;*/
	margin-right: 5%;
}

.your-class {
	border: solid lightslategray;
	background-color: whitesmoke;
	height: 200px;
	/*width: 30%;*/
	margin-right: 5%;
}

.ongoing-projects {
	border: solid lightslategray;
	background-color: whitesmoke;
	max-height: 600px;
	width: 85%;
	margin-left: 5%;
	overflow: auto;
}

.other-projects {
	border: solid lightslategray;
	background-color: whitesmoke;
	height: 300px;
	width: 85%;
	margin-left: 5%;
}

.schedule {
	border: solid lightslategray;
	background-color: whitesmoke;
	height: 200px;
	margin-right: 5%;
}

.long-schedule {
	border: solid lightslategray;
	background-color: whitesmoke;
	height: 475px;
	margin-right: 5%;
}

.add-post {
	border: solid lightslategray;
	background-color: whitesmoke;
	height: 200px;
	width: 85%;
	margin-left: 5%;
}

.to-do {
	overflow: hidden;
	border:solid lightslategray;
	background-color: whitesmoke;
	height: 400px;
	width: 85%;
	margin-left: 5%;
}

.to-do:hover {
	overflow: auto;
}

.settings {
	margin-left: 5%;
	width: 85%;
}

.instructor-partner {
	margin-left: 5%;
	width: 85%;
	max-height:600px;
	overflow: auto;
}

#outerdiv {
	margin-top: 15px;
}

.spacer {
	margin-top: 50px;
}

.questionnaire {
	margin-left: 10%;
	margin-right: 10%;
	margin-bottom: 25px;
	margin-top: 25px;
}

/* Form
 * Source: https://www.w3schools.com/howto/howto_css_register_form.asp 
 */
* {box-sizing: border-box}

/* Add padding to containers */
.container {
  padding: 16px;
}

/* Full-width input fields */
input[type=text], input[type=password], input[type=number], input[type=file], textarea, .checklist {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  display: inline-block;
  border: none;
  background: #f1f1f1;
}

.checklist {
	height: 150px;
	overflow: auto;
}

input[type=text]:focus, input[type=password]:focus, textarea:focus {
  background-color: #ddd;
  outline: none;
}

/* Overwrite default styles of hr */
hr {
  border: 1px solid #f1f1f1;
  margin-bottom: 25px;
}

/* Set a style for the submit/register button */
.registerbtn {
  background-color: #4CAF50;
  color: white;
  padding: 16px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
  opacity: 0.9;
}

.registerbtn:hover {
  opacity:1;
}

/* Add a blue text color to links */
a {
  color: dodgerblue;
}

/* Set a grey background color and center the text of the "sign in" section */
.signin {
  background-color: #f1f1f1;
  text-align: center;
}


.short_snippet {
	overflow: hidden;
	display: -webkit-box;
	-webkit-line-clamp: 3;
	-webkit-box-orient: vertical;
}


.InstructorPost h3 {
	color: blue;
}

.InstructorPost p {
	  font-weight: bold;
}

/*Background of main section*/
.jumbotron {
	background-image: url('../img/wind_energy.jpg'); 
	height: 100%;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

/*Top header section*/
.jumboheader {
	margin-top: 0;
	text-align: center;
	color: white;
}

#welcome {
	font-size: 55px;
	display: inline;
	margin: 0px,0px,0px,0px;
}

.butt {
	height:150px;
	width:150px;
	margin-left: 0px;
	margin-right: 0px;
	cursor:pointer;
	color:white;
	opacity: .6;
	font-size: 20px;
}


#studbutt {
	border: 1px outset rgba(0, 156, 158, 1);
	background-color: rgba(0, 156, 158, 1);
}
#teachbutt {
	border: 1px outset blue;
	background-color: blue;
}
#partnerbutt {
	border: 1px outset seagreen;
	background-color: seagreen;
}

.buttlink {
	color:white;
	text-decoration: none;
}

.buttlink:hover {
	color:lightblue;
}

table th, tr {
    text-align: center;
	padding: 10px;
}

.projinfo {
	margin-left: 5%;
	margin-right: 5%;
}

.selector {
	text-align: center;
	background-color: rgba(0, 156, 158, 1);
	border-color: rgba(0, 156, 158, 1);
	opacity: .9;
	color: white;
	margin-left: auto;
	margin-right: auto;
	display: block;
	margin-top: 20px;
	margin-bottom: 10px;
}

.arrow {
	border: solid white;
	border-width: 0 5px 5px 0;
	display: inline-block;
	padding: 8px;
}

.down {
	transform: rotate(45deg);
	-webkit-transform: rotate(45deg);
}

.demoheader {
	margin-top: 0;
	text-align: center;
}

.section-header {
	color:rgba(0, 156, 158, 1);
	padding-top: 50px;
	padding-bottom: 50px;
	text-align: center;
	font-family:Raleway;
}

.about {
	text-align:center;
	margin-left: 20%;
	margin-right: 20%;
}