html {
	font-family: "Roboto", sans-serif;
	scroll-behavior: smooth;
	height: 100%;
	width: 100%;
}

body {
	left: 0;
	margin: 0;
	overflow: scroll;
	height: 100%;
	width: 100%;
	position: relative;
}

/* Navigation Bar */
.nav-bar {
	height: 10%;
	background-color: rgba(0, 156, 158, 1);
	position: fixed;
	width: 100%;
	top: 0;
	opacity: .95;
}
.wrapper {
	height: 10%;
}
.nav-bar h1 {
	float: left;
	margin-left: 2%;
	color: white;
}
.nav-bar ul {
  list-style:none;
}
.nav-bar ul li {
  float: right; margin-top: 0px;
  padding: 12px;
  border-right: 1px solid white;
}
.nav-bar ul li:first-child{
  padding-left: 0;
}
.nav-bar ul li a {
  text-decoration: none;
  color: white;
}
.nav-bar ul li a:hover {
  text-decoration: underline;
}

.title {
	margin-left: 5%;
	color: black;
}
.header {
	margin-left: 5%;
	color: rgba(0, 156, 158, 1);
}

.grid-container {
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-gap: 20px;
}

.grid-child p {
	margin-left: 10px;
}
.grid-child div {
	overflow: hidden;
}
.grid-child div:hover {
	overflow: auto;
}

.priority {
	border: solid;
	height: 200px;
	width: 85%;
	margin-left: 5%;
}

.main-feed {
	border: solid;
	height: 400px;
	width: 85%;
	margin-left: 5%;
}

.partner-list {
	border: solid;
	height: 200px;
	/*width: 30%;*/
	margin-right: 5%;
}

.your-class {
	border: solid;
	height: 200px;
	/*width: 30%;*/
	margin-right: 5%;
}