  <!DOCTYPE html>
  <html lang="en">
  
  <!-- Jquery scripts -->
  <script src="https://code.jquery.com/jquery-2.2.0.min.js"></script>
  
  <head>
	<meta charset="ut 8">
	{% load static %}
	<link rel='stylesheet' type="text/css" href="{% static 'css/global.css' %}">
	<title>Instructor Landing Page</title>
</head>

<body>
	
	<div class = "wrapper">
		<div class = "nav-bar" id = "teach-nav-bar">
			<h1 class="header"> WeMinari </h1>
			<ul>
				<p></p>
				<li><a href="{% url 'scrapenews:demo_home' %}">Demo Page</a></li>
				<li><a href="{% url 'createclass:index' %}">Create Class</a></li>
				<li><a href="{% url 'createproject:results' %}">Project Forum</a></li>
				<li><a href="{% url 'createclass:home' %}">Home</a></li>
			</ul>
		</div>
	</div>
	
	<!-- Header -->
	<div class ="title">
		<h1> Hi, Mr. Cheng. This is Your Classroom. </h1>
	</div>
	
	<!-- Grid -->
	<div class="instructor-partner">
		
		<!-- Student Snapshot -->
		<h2 class="header"> Student Snapshot </h2>
		<hr>
		<table style="width:100%">
			<tr>
				<th>First Name</th>
				<th>Last Name</th>
				<th>Cognitive Model</th>
				<th>Saved Article Count</th>
				<th>Favorite Topics</th>
				<th>Number of Posts</th>
			</tr>
			<tr>
				<td>Kevin</td>
				<td>Cheng</td>
				<td>Field Independent</td>
				<td>42</td>
				<td>solar wind energy</td>
				<td>101</td>
			</tr>
		</table>

	</div>
	
	<div class="spacer"></div>
	
	<h2 class="header"> To-Do and For Your Review </h2>
	
	<div class="to-do">
		{% if latest_posts %}
		<ul>
			{% for post in latest_posts %}
			
			{% if post.Role == "Instructor" %}
			<div class="InstructorPost">
				<h3> FROM THE TEACHER'S DESK : {{post.Author}} </h3>
				<p> {{post.PostDate}} </p>
				<p> {{post.Body}} </p>
			</div>
			
			{% else %}
			<div>
				<h3> {{post.Author}} </h3>
				<p> {{post.PostDate}} </p>
				<p> {{post.Body}} </p>
			</div>
			
			{% endif %}
			<form action="{% url 'createclass:deletepost' post.id %}" method="POST">
				{% csrf_token %}
				<input type="submit" class="selector" style="background-color: red; border-color: red;" value="Delete Post">
			</form>
			<hr>
			
			{% endfor %}
		</ul>
		{% else %}
		<p>Your class hasn't been very active. Get the conversation started!</p>
		{% endif %}
	</div>
	
	<div class="spacer"></div>
	
	<h2 class="header"> Project List </h2>
	
	<div class="instructor-partner">
		{% for proj in project_list %}
		<h3>{{proj.Partner}}: {{ proj.Title }}</h3>
		<p><strong>{{proj.Start_date}} to {{proj.End_date}}</strong></p>
		<p style="font-style:italic"><strong>Locations:</strong> {{ proj.Locations}}</p>
		{% if proj.Virtual == "Yes" %}
		<p> Virtual is supported. </p>
		{% endif %}
		<p>{{ proj.Short }}</p>

		<form action="{% url 'createclass:removeproj' proj.id %}" method="POST">
			{% csrf_token %}
			<input type="submit" class="selector" value="Remove Project">
		</form>
		<hr>
		{% endfor %}
	</div>
	
	<div class="spacer"></div>
	
	<h2 class="header"> Make an Announcement </h2>
	
	<div class = "add-post">
		<form action="{% url 'addpost:createpost' %}" method="POST">
			{% csrf_token %}
			<input type="hidden" name="Author" value="Mr. Cheng">
			<input type="hidden" name="Role" value="Instructor">
			<textarea rows = "5" name="Body" placeholder="Share something with your class!" maxlength="1000"></textarea>
			
			<button type="submit" class="registerbtn">Add Post</button>
			
		</form>
	</div>
	
	
</body>



</html>